/**
 * Animate the popout player button's icon
 * NOTE: currently not in use; the shadow doesn't move with the path, so it looks weird
 * A build step would need to be introduced to copy this file to /dist
 */
#ytp-svg-pop-arrow,
#ytp-svg-pop-popout {
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
}

@keyframes ytp-svg-pop-popout-animation {
    50% {
        -webkit-transform: translate(1px, -1px);
           -moz-transform: translate(1px, -1px);
            -ms-transform: translate(1px, -1px);
             -o-transform: translate(1px, -1px);
                transform: translate(1px, -1px);
    }
}

.ytp-popout-button:hover #ytp-svg-pop-arrow,
.ytp-popout-button:hover #ytp-svg-pop-popout {
    -webkit-animation: ytp-svg-pop-popout-animation .4s cubic-bezier(.25, .1, .25, 1);
       -moz-animation: ytp-svg-pop-popout-animation .4s cubic-bezier(.25, .1, .25, 1);
        -ms-animation: ytp-svg-pop-popout-animation .4s cubic-bezier(.25, .1, .25, 1);
         -o-animation: ytp-svg-pop-popout-animation .4s cubic-bezier(.25, .1, .25, 1);
            animation: ytp-svg-pop-popout-animation .4s cubic-bezier(.25, .1, .25, 1);
}
