/**
 * Animations for the popout player button's icon
 * These are taken from the CSS for the standard fullscreen button
 */
#ytp-svg-pop-arrow,
#ytp-svg-pop-popout {
    -webkit-transform: none;
       -moz-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
}

@keyframes ytp-svg-pop-animation {
    50% {
        -webkit-transform: translate(1px, -1px);
           -moz-transform: translate(1px, -1px);
            -ms-transform: translate(1px, -1px);
             -o-transform: translate(1px, -1px);
                transform: translate(1px, -1px);
    }
}

.ytp-popout-button:hover #ytp-svg-pop-arrow,
.ytp-popout-button:hover #ytp-svg-pop-popout {
    -webkit-animation: ytp-svg-pop-animation .4s cubic-bezier(.25, .1, .25, 1);
       -moz-animation: ytp-svg-pop-animation .4s cubic-bezier(.25, .1, .25, 1);
        -ms-animation: ytp-svg-pop-animation .4s cubic-bezier(.25, .1, .25, 1);
         -o-animation: ytp-svg-pop-animation .4s cubic-bezier(.25, .1, .25, 1);
            animation: ytp-svg-pop-animation .4s cubic-bezier(.25, .1, .25, 1);
}
