<!DOCTYPE html>
<html ng-app="Options" ng-controller="OptionsCTRL">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YouTube Popout Player Options</title>

        <script type="application/javascript" src="../../vendor/browser-polyfill.min.js"></script>

        <link rel="stylesheet" href="../../vendor/angular-csp.css">
        <link rel="stylesheet" type="text/css" media="screen" href="options.css" />
    </head>

    <body>
        <form name="OptionsForm">

            <fieldset class="browser-style">
                <legend class="browser-style">Popout Player Behavior</legend>

                <div>
                    <p><small><strong>Note</strong>: This setting is per-device. If you have YouTube Popout Player installed on multiple devices, you can configure the target for each device.</small></p>

                    <div class="browser-style">
                        <input class="browser-style" type="radio" name="target" id="target-window" value="window" ng-model="options.behavior.target" ng-required>
                        <label class="browser-style-label" for="target-window">
                            <span>Open in a Popup Window</span><br/>
                            <small >The popout player will open in a new popup window. <strong>This is the default setting.</strong></small>
                        </label>
                    </div>

                    <div class="browser-style">
                        <input class="browser-style" type="radio" name="target" id="target-tab" value="tab" ng-model="options.behavior.target" ng-required>
                        <label class="browser-style-label" for="target-tab">
                            <span>Open in a Tab</span><br/>
                            <small>The popout player will open in a new tab in your current browser window.</small>
                        </label>
                    </div>
                </div>

            </fieldset>


            <fieldset class="browser-style">
                <legend class="browser-style">Popout Player Size</legend>

                <div ng-hide="options.behavior.target == 'window'">
                    <p><strong>Warning</strong>: This setting does not apply when the popout player is configured to open in a new tab in the current browser window.</p>
                </div>

                <div ng-show="options.behavior.target == 'window'">
                    <p><small><strong>Note</strong>: This setting is per-device. If you have YouTube Popout Player installed on multiple devices, you can configure the size for each device.</small></p>

                    <div class="browser-style">
                        <input class="browser-style" type="radio" name="size" id="size-current" value="current" ng-model="options.size.mode" ng-required>
                        <label class="browser-style-label" for="size-current">
                            <span>Use Original Player Size</span><br/>
                            <small>The popout player will be sized to match the original YouTube video player. <strong>This is the default setting.</strong></small>
                        </label>
                    </div>

                    <div class="browser-style">
                        <input class="browser-style" type="radio" name="size" id="size-custom" value="custom" ng-model="options.size.mode" ng-required>
                        <label class="browser-style-label" for="size-custom">
                            <span>Set Custom Dimensions</span><br/>
                            <small>Use this setting to specify dimensions (either in pixels or percentages) for the popout player.</small>
                        </label>
                    </div>

                    <fieldset class="browser-style" ng-show="options.size.mode == 'custom'">

                        <legend class="browser-style">Configure Custom Dimensions</legend>

                        <div>

                            <div class="browser-style">

                                <label class="browser-style-label" for="units">Units</label>
                                <select class="browser-style" name="units" id="units" ng-model="options.size.units" ng-required>
                                    <option value="pixels">Pixels</option>
                                    <option value="percentage">Percentage</option>
                                </select>

                                <span>&nbsp;&nbsp;</span>

                                <label class="browser-style-label" for="width">Width</label>
                                <input class="browser-style" type="text" name="width" id="width" ng-pattern="[0-9]" placeholder="Width" ng-model="options.size.width" ng-required="options.size.mode == 'custom'">
                                <span ng-show="options.size.units == 'pixels'">px</span>
                                <span ng-show="options.size.units == 'percentage'">%</span>

                                <span>&nbsp;&times;&nbsp;</span>

                                <label class="browser-style-label" for="inputPassword4">Height</label>
                                <input class="browser-style" type="text" name="height" id="height" ng-pattern="[0-9]" placeholder="Height" ng-model="options.size.height" ng-required="options.size.mode == 'custom'">
                                <span ng-show="options.size.units == 'pixels'">px</span>
                                <span ng-show="options.size.units == 'percentage'">%</span>
                            </div>
                        </div>

                    </fieldset>

                </div>

            </fieldset>

            <button class="browser-style" type="submit" ng-disabled="OptionsForm.$invalid">Save Settings</button>

        </form>

        <hr />
        <h5>Selected Options (to Store)</h5>
        <pre><code>{{options | json}}</code></pre>

        <!-- dependencies -->
        <script type="application/javascript" src="../../vendor/jquery.min.js"></script>
        <script type="application/javascript" src="../../vendor/angular.min.js"></script>
        <script type="application/javascript" src="../../vendor/angular-messages.min.js"></script>
        <script type="application/javascript" src="../../vendor/angular-sanitize.min.js"></script>

        <!-- main script for this page -->
        <script src="options.js"></script>
    </body>

</html>
