<!DOCTYPE html>
<html ng-app="OptionsApp" ng-csp ng-controller="OptionsController">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title get-message="OptionsPageTitle"></title>
    </head>

    <body class="pad-y-sm pad-x-0">

        <!-- BEGIN SETTINGS -->

        <form name="optionsForm" class="container-fluid">

            <div class="alert alert-secondary text-small" get-message="OptionsPerDeviceWarning"></div>

            <fieldset>
                <legend class="text-primary" get-message="OptionsBehaviorHeading"></legend>

                <div class="input-field">
                    <label>
                        <input type="radio" name="target" value="window" ng-model="options.behavior.target" ng-required/>
                        <span get-message="OptionsBehaviorTargetWindowLabel"></span>
                        <p class="input-hint" get-message="OptionsBehaviorTargetWindowDescription"></p>
                    </label>

                </div>

                <div class="input-field">
                    <label>
                        <input type="radio" name="target" value="tab" ng-model="options.behavior.target" ng-required/>
                        <span get-message="OptionsBehaviorTargetTabLabel"></span>
                        <p class="input-hint" get-message="OptionsBehaviorTargetTabDescription"></p>
                    </label>
                </div>

                <hr/>

                <div class="input-field">
                    <span class="switch">
                        <input type="checkbox" name="disableOnPopout" id="disableOnPopout" ng-model="options.behavior.disableOnPopout">
                        <label for="disableOnPopout" get-message="OptionsBehaviorDisableOnPopoutLabel"></label>
                        <p class="input-hint" get-message="OptionsBehaviorDisableOnPopoutDescription"></p>
                    </span>
                </div>

                <div class="input-field">
                    <span class="switch">
                        <input type="checkbox" name="closeOriginal" id="closeOriginal" ng-model="options.behavior.closeOriginal">
                        <label for="closeOriginal" get-message="OptionsBehaviorCloseOriginalLabel"></label>
                        <p class="input-hint" get-message="OptionsBehaviorCloseOriginalDescription"></p>
                    </span>
                </div>

            </fieldset>

            <fieldset>
                <legend class="text-primary" get-message="OptionsSizeHeading"></legend>

                <div class="alert alert-warning text-small" ng-hide="options.behavior.target === 'window'" get-message="OptionsBehaviorTabWarning"></div>

                <div ng-show="options.behavior.target === 'window'">

                    <div class="input-field">
                        <label>
                            <input type="radio" name="size" value="current" ng-model="options.size.mode" ng-required>
                            <span get-message="OptionsSizeModeCurrentLabel"></span>
                            <p class="input-hint" get-message="OptionsSizeModeCurrentDescription"></p>
                        </label>
                    </div>

                    <div class="input-field mar-b-0">
                        <label>
                            <input type="radio" name="size" value="custom" ng-model="options.size.mode" ng-required>
                            <span get-message="OptionsSizeModeCustomLabel"></span><br/>
                            <p class="input-hint" get-message="OptionsSizeModeCustomDescription"></p>
                        </label>
                    </div>

                    <div class="container-fluid mar-t-sm" ng-show="options.size.mode === 'custom'">

                        <div class="input-field mar-b-0">
                            <div class="row">

                                <div class="col">
                                    <div class="input-field">
                                        <label for="units" get-message="DimensionUnitsLabel"></label>
                                        <select class="input-lg" name="units" id="units" ng-model="options.size.units" ng-required>
                                            <option value="pixels" get-message="DimensionUnitsPixelsOptionLabel"></option>
                                            <option value="percentage" get-message="DimensionUnitsPercentageOptionLabel"></option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="input-field" ng-class="{'input-invalid': optionsForm.width.$invalid}">
                                        <label for="width" get-message="WidthLabel"></label>
                                        <div class="input-group">
                                            <input type="number" class="input-lg" name="width" id="width" ng-min="sizeMin('width')" ng-max="sizeMax('width')" placeholder="Width" ng-model="options.size.width" ng-model-options="{ debounce: 500 }" ng-required="(options.behavior.target === 'window') && (options.size.mode === 'custom')"/>
                                            <span class="input-addon input-addon-lg">{{sizeUnits()}}</span>
                                        </div>
                                        <div ng-messages="optionsForm.width.$error" role="alert">
                                            <p class="input-hint" ng-message="required" get-message="FieldRequiredMessage"></p>
                                            <p class="input-hint" ng-message="min" get-message="FieldMinValuePlaceholderMessage" substitutions="{{sizeMin('width')}}"></p>
                                            <p class="input-hint" ng-message="max" get-message="FieldMaxValuePlaceholderMessage" substitutions="{{sizeMax('width')}}"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="input-field" ng-class="{'input-invalid': optionsForm.height.$invalid}">
                                        <label for="inputPassword4" get-message="HeightLabel"></label>
                                        <div class="input-group">
                                            <input type="number" class="input-lg" name="height" id="height" ng-min="sizeMin('height')" ng-max="sizeMax('height')" placeholder="Height" ng-model="options.size.height" ng-model-options="{ debounce: 500 }" ng-required="(options.behavior.target === 'window') && (options.size.mode === 'custom')"/>
                                            <span class="input-addon input-addon-lg">{{sizeUnits()}}</span>
                                        </div>
                                        <div ng-messages="optionsForm.height.$error" role="alert">
                                            <p class="input-hint" ng-message="required" get-message="FieldRequiredMessage"></p>
                                            <p class="input-hint" ng-message="min" get-message="FieldMinValuePlaceholderMessage" substitutions="{{sizeMin('height')}}"></p>
                                            <p class="input-hint" ng-message="max" get-message="FieldMaxValuePlaceholderMessage" substitutions="{{sizeMax('height')}}"></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <table class="table-bordered">
                                        <tbody>
                                            <tr>
                                                <td get-message="InfoCurrentScreenResolutionLabel"></td>
                                                <td class="text-bold" ng-bind-html="resolution"></td>
                                            </tr>
                                            <tr ng-show="options.size.units === 'percentage'">
                                                <td get-message="InfoPopoutPlayerWindowSizeLabel"></td>
                                                <td class="text-bold" ng-bind-html="showInfo('dimensions')"></td>
                                            </tr>
                                            <tr>
                                                <td get-message="InfoPopoutPlayerAspectRatioLabel"></td>
                                                <td class="text-bold" ng-bind-html="showInfo('aspectRatio')"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </fieldset>

            <div class="row">
                <div class="col-6">
                    <button class="button button-block" ng-class="{'button-light': optionsForm.$pristine}" ng-click="save()" ng-disabled="optionsForm.$pristine || optionsForm.$invalid" get-message="ButtonSaveLabel"></button>
                </div>
                <div class="col-6">
                    <button class="button button-block button-danger" ng-click="confirmReset()" get-message="ButtonResetLabel"></button>
                </div>
            </div>

            <div class="row mar-t-lg" ng-show="alerts && alerts.length">
                <div class="col">

                    <div class="fade alert alert-{{alert.type}}" ng-class="{'alert-dismissible': alert.dismissible, 'alert-timed': alert.duration}" ng-repeat="alert in alerts" style="--duration: {{alert.duration}}s">
                        <div ng-bind-html="alert.message"></div>
                        <a class="close" ng-click="removeAlert(alert)" ng-if="alert.dismissible">
                            <span class="x">&times</span>
                            <div class="timer-left"></div>
                            <div class="timer-right"></div>
                        </a>
                    </div>

                </div>
            </div>

        </form>

        <dialog id="ResetConfirmDialog">
            <div class="container">

                <div class="row">
                    <div class="col">
                        <h3 class="mar-b-md" get-message="ConfirmSettingsResetHeading"></h3>
                        <p get-message="ConfirmSettingsResetText"></p>
                        <hr/>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="button" class="button-block" ng-click="reset()" get-message="ButtonConfirmResetLabel"></button>
                    </div>
                    <div class="col">
                        <button type="button" class="button-block button-secondary" ng-click="cancelReset()" get-message="ButtonCancelResetLabel"></button>
                    </div>
                </div>

            </div>
        </dialog>

        <!-- END SETTINGS -->

        <hr/>

        <!-- BEGIN COMMANDS -->

        <!-- TODO: move all of the command-related functionality into a custom directive? -->

        <form class="container-fluid">

            <fieldset ng-show="commands && commands.length">
                <legend class="text-primary" get-message="CommandListHeading"></legend>

                <p class="text-small" get-message="CommandListSaveHelpText" ng-show="canUpdateCommands"></p>
                <p class="text-small" get-message="CommandListChangeChrome" ng-hide="canUpdateCommands"></p>

                <table>
                    <thead>
                        <tr>
                            <th get-message="CommandListDescriptionColumnHeading"></th>
                            <th get-message="CommandListShortcutColumnHeading"></th>
                            <th ng-if="canUpdateCommands"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="command in commands" ng-if="command.description.length">
                            <td>{{command.description}}</td>
                            <td class="text-nowrap" ng-bind-html="command.shortcut | kbdCombo"></td>
                            <td ng-if="canUpdateCommands"><a href ng-click="updateCommand(command)" get-message="CommandListUpdateCommandLabel"></a></td>
                        </tr>
                    </tbody>
                </table>

            </fieldset>

        </form>

        <dialog id="UpdateCommandDialog" ng-init="initUpdateCommandDialog()">
            <div class="container">

                <div class="row">
                    <div class="col">
                        <h3 class="mar-b-md" get-message="UpdateCommandHeading"></h3>
                        <p get-message="UpdateCommandInstructionsPlaceholder" substitutions="{{getCommandInstructionSubstitutions()}}"></p>
                        <hr ng-show="updateCommandError"/>
                        <div class="alert alert-danger" ng-show="updateCommandError" ng-bind-html="updateCommandError"></div>
                    </div>
                </div>

            </div>
        </dialog>

        <!-- END COMMANDS -->

    </body>

</html>
