html {
    min-width: 630px;
}

dialog {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);

    background: rgb(255, 255, 255);
    border: none;

    border-radius: 8px;

    box-shadow: 0 12px 24px -4px rgba(50, 50, 50, 0.25),
                0 8px 16px -8px rgba(0, 0, 0, 0.25);
}

dialog::backdrop,
dialog+.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.close {
    opacity: 0.5;

    cursor: pointer;
    float: right;
    font-size: 1.5rem;
    line-height: 1;

    &:hover {
        opacity: 1;
        text-decoration: none;
    }
}

.alert {
    position: relative;

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        text-align: center;
    }
}



/**
 * Firefox-Specific Overrides
 * Note: these are applied to all browsers, but should match the computed values when rendered outside the Add-ons Manager
 * TODO: Ensure this is only used for Firefox. Ideas include:
 *   - modifying the build process to only include it for FF
 *   - finding a selector that is only present in Firefox when the Options page is rendered inside the Add-ons Manager
 *   - using JS to add a custom body/html class for Firefox (ideally only when inside the Add-ons Manager)
 */
body {
    font-size: 16px !important;

    button {
        font-size: 16px !important;
        line-height: 34px !important;
        height: 36px !important;
    }
}
