<!DOCTYPE html>
<html ng-app="OptionsApp" ng-csp ng-controller="OptionsController">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YouTube Popout Player Options</title>
    </head>

    <body>

        <form name="form" class="container-fluid">

            <fieldset>
                <legend>Popout Player Behavior</legend>

                <div class="alert alert-secondary text-small">
                    <strong>Note</strong>: This setting is per-device. If you have YouTube Popout Player installed on multiple devices, you can configure the target for each device.
                </div>

                <div class="input-field">
                    <label>
                        <input type="radio" name="target" value="window" ng-model="options.behavior.target" ng-required>
                        <span>Open in a Popup Window</span>
                        <p class="input-hint">The popout player will open in a new popup window. <strong>This is the default setting.</strong></p>
                    </label>

                </div>

                <div class="input-field">
                    <label>
                        <input type="radio" name="target" value="tab" ng-model="options.behavior.target" ng-required>
                        <span>Open in a Tab</span>
                        <p class="input-hint">The popout player will open in a new tab in your current browser window.</p>
                    </label>
                </div>

            </fieldset>


            <fieldset>
                <legend>Popout Player Size</legend>

                <div class="alert alert-warning text-small" ng-hide="options.behavior.target === 'window'">
                    <strong>Warning</strong>: These settings do not apply when the popout player is configured to open in a new tab in the current browser window.
                </div>

                <div ng-show="options.behavior.target === 'window'">
                    <div class="alert alert-secondary text-small">
                        <strong>Note</strong>: This setting is per-device. If you have YouTube Popout Player installed on multiple devices, you can configure the size for each device.
                    </div>

                    <div class="input-field">
                        <label>
                            <input type="radio" name="size" value="current" ng-model="options.size.mode" ng-required>
                            <span>Use Original Player Size</span>
                            <p class="input-hint">The popout player will be sized to match the original YouTube video player. <strong>This is the default setting.</strong></p>
                        </label>
                    </div>

                    <div class="input-field mar-b-0">
                        <label>
                            <input type="radio" name="size" value="custom" ng-model="options.size.mode" ng-required>
                            <span>Set Custom Dimensions</span><br/>
                            <p class="input-hint">Use this setting to specify dimensions (either in pixels or percentages) for the popout player.</p>
                        </label>
                    </div>

                    <div class="container-fluid mar-t-sm" ng-show="options.size.mode === 'custom'">

                        <div class="input-field mar-b-0">
                            <div class="row">

                                <div class="col">
                                    <div class="input-field">
                                        <label for="units">Dimension Units</label>
                                        <select class="input-lg" name="units" id="units" ng-model="options.size.units" ng-required>
                                            <option value="pixels">Pixels (px)</option>
                                            <option value="percentage">Percentage (%)</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="input-field" ng-class="{'input-invalid': form.width.$invalid}">
                                        <label for="width">Width</label>
                                        <div class="input-group">
                                            <input type="number" class="input-lg" name="width" id="width" ng-min="sizeMin('width')" ng-max="sizeMax('width')" placeholder="Width" ng-model="options.size.width" ng-required="options.size.mode === 'custom'">
                                            <span class="input-addon input-addon-lg">{{sizeUnits()}}</span>
                                        </div>
                                        <div ng-messages="form.width.$error" role="alert">
                                            <p class="input-hint" ng-message="required">This field is required</p>
                                            <p class="input-hint" ng-message="min">The value of this field cannot be less than <strong>{{sizeMin('width')}}</strong></p>
                                            <p class="input-hint" ng-message="max">The value of this field cannot be more than <strong>{{sizeMax('width')}}</strong></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="input-field" ng-class="{'input-invalid': form.height.$invalid}">
                                        <label for="inputPassword4">Height</label>
                                        <div class="input-group">
                                            <input type="number" class="input-lg" name="height" id="height" ng-min="sizeMin('height')" ng-max="sizeMax('height')" placeholder="Height" ng-model="options.size.height" ng-required="options.size.mode === 'custom'">
                                            <span class="input-addon input-addon-lg">{{sizeUnits()}}</span>
                                        </div>
                                        <div ng-messages="form.height.$error" role="alert">
                                            <p class="input-hint" ng-message="required">This field is required</p>
                                            <p class="input-hint" ng-message="min">The value of this field cannot be less than <strong>{{sizeMin('height')}}</strong></p>
                                            <p class="input-hint" ng-message="max">The value of this field cannot be more than <strong>{{sizeMax('height')}}</strong></p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <table class="table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>Current Screen Resolution</td>
                                                <td class="text-bold" ng-bind-html="resolution"></td>
                                            </tr>
                                            <tr ng-show="options.size.units === 'percentage'">
                                                <td>Popout Player Window Size</td>
                                                <td class="text-bold" ng-bind-html="showInfo('dimensions')"></td>
                                            </tr>
                                            <tr>
                                                <td>Popout Player Aspect Ratio</td>
                                                <td class="text-bold" ng-bind-html="showInfo('aspectRatio')"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </fieldset>

            <div class="row">
                <div class="col-6">
                    <button class="button button-block" ng-click="save()" ng-disabled="form.$invalid">Save Settings</button>
                </div>
                <div class="col-6">
                    <button class="button button-block button-danger" ng-click="reset()">Reset to Defaults</button>
                </div>
            </div>

        </form>

    </body>

</html>
