---
---

strong {
    font-weight: bolder;
}

.large {
    font-size: 2em;
}

#content-main {
    a:not(.btn):not(.btn-small):not(.btn-large) {
        &:active, &:focus, &:hover {
            text-decoration: underline;
        }
    }
}

dl {
    dt {
        font-weight: lighter;
        font-size: 18px;
    }

    dd {
        margin: 0 0 2em;

        table {
            margin: 0 2em;
            width: calc(100% - 4em);
        }
    }

    dd + dt {
        border-top: 1px solid rgba(160, 160, 160, 0.2);
        padding-top: 2em;
    }
}

kbd {
    background-color: #fafafa;
    border: 1px solid #bdbdbd;
    border-bottom-color: rgb(200, 200, 200);
    border-bottom-color: #9e9e9e;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #9e9e9e;
    color: #424242;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}

.card .card-body {
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    position: relative;
    padding: 16px 24px;

    &:last-child {
        border-radius: 0 0 2px 2px;
    }
}
